<div class="revenue-chart-container">
    <!-- Title or Header -->
   
  
    <!-- Chart Container -->
    <div *ngIf="revenues.length > 0" class="chart">
      <apx-chart 
        [options]="chartOptions" 
        [height]="chartOptions.chart.height" 
        [type]="chartOptions.chart.type">
      </apx-chart>
    </div>
  
    <!-- Loading or No Data Message -->
    <div *ngIf="revenues.length === 0" class="no-data">
      <p>Không có dữ liệu doanh thu trong 7 ngày qua.</p>
    </div>
  </div>
  

  <h5 class="mb-3 mt-2">DOANH THU 7 NGÀY GẦN ĐÂY</h5>
<app-card [showHeader]="false">
  <h6 class="mb-2 f-w-400 text-muted">Tổng tiền trong tuần qua:</h6>
  <h3 class="mb-3">{{ totalRevenue | number: '1.0-0' }} VND</h3>
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [plotOptions]="chartOptions.plotOptions"
    [dataLabels]="chartOptions.dataLabels"
    [xaxis]="chartOptions.xaxis"
    [colors]="chartOptions.colors"
    [stroke]="chartOptions.stroke"
    [yaxis]="chartOptions.yaxis"
    [grid]="chartOptions.grid"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
</app-card>
