<div class="col-md-12 col-xl-8">
  <h5 class="mb-3">Danh sách cây</h5>

  <div class="d-flex align-items-center mb-3">
    <!-- Nút thêm người dùng mới -->
    <button (click)="navigateToAddProduct()" class="btn btn-primary me-2">Thêm cây mới</button>

    <!-- Form tìm kiếm -->
    <form (ngSubmit)="onSearch()" #searchForm="ngForm" class="d-flex ms-auto">
      <input 
        type="text" 
        id="search" 
        class="form-control me-2" 
        [(ngModel)]="searchTerm" 
        name="search" 
        placeholder="Tìm kiếm cây" 
        required>
      <button type="submit" class="btn btn-success">Tìm kiếm</button>
    </form>
  </div>
  <div class="card tbl-card">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên cây</th>
            <th>Giá</th>
            <th>Loại cây</th>
            <th>Mô tả</th>
            <th>Hình ảnh</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of listProducts; let i = index">
            <td>{{ i + 1 }}</td>

            <td>{{ product.productName }}</td>
            <td>{{ product.priceOutput }}</td>
            <td>{{ product.categoryName }}</td>
            <td>{{ product.description }}</td>
            <td>
              <img  [src]="rootUrl + '/' + product.img" alt="{{ product.img }}" width="100" height="100" />
            </td>

            <td>
              <button 
                (click)="toggleProductActiveStatus(product)" 
                [ngClass]="{'toggle-status-btn': true, 'unactive': !product.isActive}">
                {{ product.isActive ? 'Kích hoạt' : 'Vô hiệu khóa' }}
              </button>
            </td>
            
            <td>
              <button (click)="navigateToEditProduct(product.productId)" class="btn btn-warning btn-sm">Sửa</button>
              <!-- Sử dụng productId -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
