<div class="col-md-12 col-xl-8">
  <h5 class="mb-3">Danh sách cây</h5>

  <div class="d-flex align-items-center mb-3">
    <!-- Nút thêm cây mới -->
    <button (click)="navigateToAddProduct()" class="btn btn-primary me-2">Thêm cây mới</button>

    <!-- Form tìm kiếm -->
    <form (ngSubmit)="onSearch()" #searchForm="ngForm" class="d-flex ms-auto">
      <input 
        type="text" 
        id="search" 
        class="form-control me-2" 
        [(ngModel)]="searchTerm" 
        name="search" 
        placeholder="Tìm kiếm sản phẩm" 
        required>
      <button type="submit" class="btn btn-success">Tìm kiếm</button>
    </form>
  </div>

  <div class="card tbl-card">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên cây</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Loại cây</th>
            <th>Hình ảnh</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of listProducts; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.priceOutput }}đ</td>
            <td>{{ product.category?.name }}</td>
            <td>
              <img [src]="product.img" alt="{{ product.name }}" width="100" height="100" />
            </td>
            <td>
              <button 
                (click)="navigateToEditProduct(product.productId)" 
                class="btn btn-warning btn-sm edit-button">
                Sửa
              </button>
              <button 
                (click)="deleteProduct(product.productId)" 
                class="btn btn-danger btn-sm delete-button">
                Xóa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
