<form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="productName">Tên sản phẩm:</label>
    <input type="text" id="productName" class="form-control" formControlName="name" name="productName" required />
  </div>
  <div class="mb-3">
    <label for="productType" class="form-label">Loại sản phẩm:</label>
    <select class="form-select" id="productType" formControlName="category">
      <option *ngFor="let category of listCategory" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div> 
  <div class="form-group">
    <label for="quantity">Số lượng:</label>
    <input type="number" id="quantity" class="form-control" formControlName="quantity"name="quantity" required />
  </div>
  <div class="form-group">
    <label for="price">Giá:</label>
    <input type="number" id="price" class="form-control" formControlName="priceOutput" name="price" required />
  </div>
  <div class="form-group">
    <label for="price">Mô tả:</label>
    <input type="text" id="description" class="form-control" formControlName="description" name="description" required />
  </div>
  <div class="form-group">
    <label for="image">Hình ảnh hiện tại:</label>
    <img *ngIf="productImageUrl" [src]="rootUrl + '/' + productImageUrl" alt="Hình ảnh sản phẩm" style="max-width: 200px; max-height: 200px;" />
  </div>

  <div class="form-group">
    <label for="image">Chọn hình ảnh mới:</label>
    <input type="file" id="image" class="form-control" (change)="onFileSelected($event)" name="image" />
  </div>
  <button type="submit" class="btn btn-primary">Cập nhật</button>
  <button type="button" (click)="cancel()" class="btn btn-secondary">Hủy</button>
</form>
