<div class="col-md-12 col-xl-8">
  <h5 class="mb-3">Danh sách khách hàng</h5>

  <div class="card tbl-card">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th> 
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of listCustomersDB; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ customer.fullname }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.phone }}</td>
            <td>
              <button 
                (click)="toggleCustomerActiveStatus(customer)" 
                [ngClass]="{'toggle-status-btn': true, 'unactive': !customer.isActive}">
                {{ customer.isActive ? 'Kích hoạt' : 'Vô hiệu khóa' }}
              </button>
            </td>
            
            <td>
              <!-- Nút sửa -->
              <button (click)="navigateToEditCustomer(customer.customerId)" class="btn btn-warning btn-sm">Sửa</button> 
            </td>

          </tr>

         
        </tbody>
      </table>
    </div>
  </div>
</div>

