<div class="container mt-4">
    <h4>Danh sách người dùng</h4>
    <div class="card mt-3">
      <div class="table-responsive">
        <table class="table table-bordered table-hover mb-0">
          <thead class="table-light">
            <tr>
              <th>STT</th>
              <th>Tên khách hàng</th>
              <th>Email</th>
              <th>Địa chỉ</th>
              <th>Số điện thoại</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of listUsers; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.fullname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.phone }}</td>
              <td class="text-center">
                <button class="btn btn-warning btn-sm me-2">Đặt lại mật khẩu</button>
                <button class="btn btn-danger btn-sm me-2">Vô hiệu hóa</button>
                <button class="btn btn-primary btn-sm">Chỉnh sửa</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
