.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  .table th {
    font-weight: 600;
  }
  
  .table td button {
    min-width: 50px;
  }
  .table {
    width: 100%; // Đảm bảo bảng sử dụng toàn bộ chiều rộng
    border-collapse: collapse; // Gộp các đường biên
  }
  
  