<div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Danh sách đơn hàng</h5>
  
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>STT</th>
              <th>ID Đơn hàng</th>
              <th>Tên khách hàng</th>
              <th>Địa chỉ</th>
              <th>Tổng giá trị</th>
              <th>Trạng thái</th>
              <th>Ngày tạo</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of listOrders; let i = index">
              <td>{{ i + 1 }}</td>
  
              <td>{{ order.orderId }}</td>
              <td>{{ order.fullName }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.totalAmount | currency: 'VND':'symbol':'1.0-0' }}</td>
              <td>{{ order.state | orderState }}</td>
              <td>{{ order.createOn | date:'short' }}</td>
              <td>
                <button (click)="navigateToDetailOrder(order.orderId)" class="btn btn-warning btn-sm">Xem chi tiết</button>
                <!-- Sử dụng orderId -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  