<div class="container mt-4">
  <div class="card p-4">
    <h4 class="card-title mb-4">Thêm thông tin cây mới</h4>
    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="productName">Tên sản phẩm:</label>
        <input type="text" id="productName" class="form-control" formControlName="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="productType">Loại sản phẩm:</label>
        <input type="text" id="productType" class="form-control" formControlName="categoryId" name="type" required />
      </div>
      <div class="form-group">
        <label for="quantity">Số lượng:</label>
        <input type="number" id="quantity" class="form-control" formControlName="quantity" name="quantity" required />
      </div>
      <div class="form-group">
        <label for="price">Giá:</label>
        <input type="number" id="price" class="form-control" formControlName="priceOutput" name="price" required />
      </div>
      <div class="form-group">
        <label for="image">Hình ảnh:</label>
        <input type="file" id="image" class="form-control"  name="image" required />
      </div>
      <div class="form-group">
        <label for="image">Mô tả:</label>
        <input type="text" id="price" class="form-control" formControlName="description" name="price" required />
      </div>
      <button type="submit" class="btn btn-primary">Thêm</button>
      <button type="button" (click)="cancel()" class="btn btn-secondary">Hủy</button>
    </form>
  </div>
</div>
