<div class="col-md-12 col-xl-8">
  <h5 class="mb-3">Danh sách người dùng</h5>

  <div class="d-flex align-items-center mb-3">
    <!-- Nút thêm người dùng mới -->
    <button (click)="navigateToAddUser()" class="btn btn-primary me-2">Thêm người dùng mới</button>

    <!-- Form tìm kiếm -->
    <form (ngSubmit)="onSearch()" #searchForm="ngForm" class="d-flex ms-auto">
      <input 
        type="text" 
        id="search" 
        class="form-control me-2" 
        [(ngModel)]="searchTerm" 
        name="search" 
        placeholder="Tìm kiếm người dùng" 
        required>
      <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
    </form>
    
  </div>
  <div class="card tbl-card">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Avatar</th>
            <th>Tên người dùng</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Quyền hạn</th>
            <th>Ngày sinh</th>
            <!-- <th>Trạng thái</th> -->
            <!-- <th>Thời gian tạo</th> -->
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of listUsersDB; let i = index">
            <td>{{ i + 1 }}</td>
            <td><img [src]="user.avatar" alt="User Avatar" width="100" height="100" /></td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.position }}</td> 
            <td>{{ user.birthday }}</td>
            <!-- <td>
              <button 
              (click)="toggleUserActiveStatus(user)"
              [ngClass]="{'toggle-status-btn': true, 'unactive': !user.isActive}">
              {{ user.isActive ? 'Kích hoạt' : 'Vô hiệu khóa' }}
            </button>
            </td> -->
            <!-- <td>{{ user.createOn }}</td> -->
            <td>
              <!-- Nút sửa -->
              <button (click)="navigateToEditUser(user.userId)" class="btn btn-warning btn-sm">Sửa</button> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>