<div class="col-md-12 col-xl-8">
  <h5 class="mb-3">Danh sách người dùng</h5>
  
  <!-- Nút thêm người dùng -->
  <button (click)="navigateToAddUser()" class="btn btn-primary mb-3">Thêm người dùng</button>



  <div class="card tbl-card">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên người dùng</th>
            <th>EMAIL</th>
            <th>Quyền hạn</th>
            <th>Thời gian tạo</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of listUsersDB; let i = index">
            <td>{{ i + 1 }}</td> <!-- Số thứ tự -->
            <td>{{ user.fullname }}</td> <!-- Tên người dùng -->
            <td>{{ user.email }}</td> <!-- Email -->
            <td>{{ user.position }}</td> <!-- Quyền hạn -->
            <td>{{ user.birthday }}</td> <!-- Thời gian tạo -->
            <td>
              <!-- Nút sửa -->
              <button (click)="navigateToEditUser(user.userId)" class="btn btn-warning btn-sm">Sửa</button>
              <!-- Nút xóa -->
              <button (click)="deleteUser(user.userId)" class="btn btn-danger btn-sm">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
