<div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Danh sách cây</h5>
    
    <button (click)="navigateToAddTree()" class="btn btn-primary mb-3">Thêm cây mới</button>
    
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên cây</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Loại cây</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tree of listTrees; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ tree.name }}</td>
              <td>{{ tree.quantity }}</td>
              <td>{{ tree.price | currency:'VND' }}</td>
              <td>{{ tree.type }}</td>
              <td>
              
                <button (click)="navigateToEditTree(tree.id)" class="btn btn-warning btn-sm">Sửa</button>
                <button (click)="deleteTree(tree.id)" class="btn btn-danger btn-sm">Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
