<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="javascript:" class="b-brand">
        <!-- <img src="assets/images/logolala.png"  alt="theme-logo" class="logo logo-dark logo-lg" /> -->
        <div class="logo-container" style="position: absolute; top: 35px; left: 35px;">
        <img src="assets/images/logolala.png" alt="theme-logo" class="logo logo-dark logo-lg" style="width: 50px; height: auto;" />
    </div>
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100 compact"></app-nav-content>
  </div>
</nav>
